{% extends 'plateforme/index.html' %}
{% block content %}
    <div class="content-section">
        <h1>Crédits et mentions légales</h1>

        <hr>

        <h3>Éditeur</h3>
        <p>
            Ce site web est developpé par des étudiants du M2 ACDI (de l'UFR Sciences d'Angers) dans le cadre du cours de <b>Culture GNU/Linux</b>
        </p>
        <ul>
            <li>Directeur de publication : Université d'Angers</li>
            <li>Création Graphique : BALAVOINE Kevin, CHOVEAU Etienne, DESNOES Mathis</li>
            <li>Elaboration Technique : BALAVOINE Kevin, CHOVEAU Etienne, DESNOES Mathis</li>
            <li>Contact éditorial : BALAVOINE Kevin, CHOVEAU Etienne, DESNOES Mathis</li>
        </ul>

        <hr>

        <h3>Technologie(s)</h3>
        <p>
            Framework Python <a href="https://www.djangoproject.com/">Django</a><br/>
            Framework CSS <a href="https://getbootstrap.com/">Boostrap</a>
        </p>

        <hr>

        <h3>Hébergement</h3>
        <p>Université d'Angers, 2 Boulevard de Lavoisier, 49000 Angers</p>

        <hr>

        <h3>Contact Webmaster</h3>
        <p>
            mdesn@etud.univ-angers.fr <br/>
            kbalavoine@etud.univ-angers.fr <br/>
            echoveau@etud.univ-angers.fr <br/>
        </p>

        <hr>

        <h3>Droits d'auteurs et copyright</h3>
        <p>
            La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf autorisation expresse du directeur de la publication.
        </p>

        <h6>Les îcones</h6>
        <p>
            Tous les îcones utilisés sont disponible <a href="https://fontawesome.com/v4.7.0/icons/">ici</a>.
        </p>

        <h6>Données personnelles</h6>
        <p>
            Les données personnelles collectées sont destinées exclusivement à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers.
        </p>

        <h6>Publication de contenu</h6>
        <p>
            Lorsque vous poster un projet/commentaire sur ce site, celui-ci peut être modéré par un membre du site. Tout ceci permet d'avoir du contenu de qualité et surtout du contenu adéquat vis à vis de la législation.
        </p>

        <h6>Cookie/Session</h6>
        <p>
            Aucun
        </p>

    </div>
{% endblock content %}