{% extends 'plateforme/index.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Suppression d'un projet</legend>
                <h2>Etes vous sûr de vouloir supprimer le projet '{{ object.titre }}' ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Oui, je suis sûr</button>
                <a class="btn btn-outline-secondary" href="{% url 'plateforme-view-projet-details' object.id %}">Annuler</a>
            </div>
        </form>
    </div>
{% endblock content %}