{% extends 'plateforme/index.html' %}
{% block content %}
    {% if object.auteur == user %}
        <div class="row justify-content-end mx-0 my-2">
            <a class="btn btn-secondary btn-sm" href="{% url 'plateforme-view-modifier-projet' object.id %}">
                Modifier<i class="fas fa-edit ml-1"></i>
            </a>
            <a class="btn btn-danger btn-sm ml-2" href="{% url 'plateforme-view-supprimer-projet' object.id %}">
                Supprimer<i class="fas fa-times ml-1"></i>
            </a>
        </div>
    {% endif %}
    <div class="card my-4">
        <div class="card-header" style="background-color: #8C9773;">
            <div class="row">
                <h3 class="col-4">{{ object.titre }}</h3>
                <div class="col-4 mt-1"><p class="card-title text-center">{{ object.dateCreation|date:"N d, Y - H\hi" }}</p></div>
                <div class="col-4 text-right"> 
                    <a class="text-dark" href="{% url 'plateforme-view-projet-user' object.auteur.username %}">
                        {{ object.auteur }}
                        <img class="rounded-circle" src="{{ object.auteur.profile.avatar.url }}" width="35">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body" style="background-color: #CCD2BF;">
            <p class="card-text">{{ object.content }}</p>
            <hr>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary ml-2">Evaluer</a>
                <a href="#" class="btn btn-primary ml-2">Financer</a>
            </div>
        </div>
    </div>
{% endblock content %}
