{% extends 'plateforme/index.html' %}
{% block content %}
    {% if object.auteur == user %}
        <div class="row justify-content-end mx-0 my-2">
            <a class="btn btn-secondary btn-sm" href="{% url 'plateforme-view-modifier-projet' object.id %}">
                Modifier<i class="fas fa-edit ml-1"></i>
            </a>
            <a class="btn btn-danger btn-sm ml-2" href="{% url 'plateforme-view-supprimer-projet' object.id %}">
                Supprimer<i class="fas fa-times ml-1"></i>
            </a>
            {% if object.montantVoulu <= object.montant %}
                <a class="btn btn-primary btn-sm ml-2" href="{% url 'plateforme-view-cloturer-projet' object.id %}">
                    Cloturer<i class="fad fa-check ml-1"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
    
    {% include 'plateforme/card/card_projet.html' with projet=object page="view_detail_projet" %}

    {% if evaluations.count > 0 %}
        <hr>
        <h3 class="mb-3">Evaluation(s) ({{ evaluations.count }})</h3>

        {% for evaluation in evaluations %}
            {% include 'plateforme/card/card_evaluation.html' with eval=evaluation %}
        {% endfor %}

        <small class="float-right mt-2">
            <a href="{% url 'rss-evaluations-projets-news' object.id %}">
                Flux RSS<i class="fa fa-rss-square ml-1" aria-hidden="true"></i>
            </a>
        </small>
    
    {% endif %}
    {% if contributions.count > 0 %}
        <hr>
        <h3 class="mb-3">Contribution(s) ({{ contributions.count }})</h3>

        {% for contribution in contributions %}
            {% include 'plateforme/card/card_contribution.html' with contrib=contribution %}
        {% endfor %}
    
    {% endif %}
{% endblock content %}
