{% extends 'plateforme/index.html' %}
{% block content %}
    <h3 class="mb-3">Projet proposé par {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h3>
    <hr>
    {% for p in projets %}
    <div class="card my-4">
        <div class="card-header" style="background-color: #8C9773;">
            <div class="row">
                <h3 class="col-4">{{ p.titre }}</h3>
                <div class="col-4 mt-1"><p class="card-title text-center">{{ p.dateCreation|date:"N d, Y - H\hi" }}</p></div>
                <div class="col-4 text-right">
                    <a class="text-dark" href="{% url 'plateforme-view-projet-user' p.auteur.username %}">
                        {{ p.auteur }}
                        <img class="rounded-circle" src="{{ p.auteur.profile.avatar.url }}" width="35">
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body" style="background-color: #CCD2BF;">
            <p class="card-text">{{ p.content }}</p>
            <hr>
            <div class="row justify-content-center">
                <a href="{% url 'plateforme-view-projet-details' p.id %}" class="btn btn-primary ml-2">
                    Voir<i class="far fa-eye ml-2"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}


    {% comment %} Pagination {% endcomment %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Page 1</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-less-than"></i></a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a> 
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-greater-than"></i></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Page {{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}