{% extends 'plateforme/index.html' %}
{% block content %}
    <div class="row">
        <h3 class="col-6">Liste des projets existants</h3>
        <h5 class="col-6 text-right">
            <a href="{% url 'plateforme-view-creer-projet' %}">Proposer mon projet</a>
        </h5>
    </div>

    <div class="mt-3">
        {% include 'plateforme/projet/filtrer_projets_form.html' %}
    </div>

    <hr>

    {% for projet in projets %}
        {% include 'plateforme/card/card_projet.html' with projet=projet page="view_liste_projet" %}
    {% endfor %}

    {% if projets.count <= 0 %}
        <div class="row justify-content-center mt-5"><i class="fa fa-ban fa-6x text-center" aria-hidden="true"></i></div>
        <h5 class="mt-2 text-center">Aucun projet ne correspond aux critères de recherche</h5>
    {% endif %}


    {% comment %} Pagination {% endcomment %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="{{ parametres_url }}page=1">Page 1</a>
            <a class="btn btn-outline-info mb-4" href="{{ parametres_url }}page={{ page_obj.previous_page_number }}"><i class="fas fa-less-than"></i></a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="{{ parametres_url }}page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                <a class="btn btn-outline-info mb-4" href="{{ parametres_url }}page={{ num }}">{{ num }}</a> 
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="{{ parametres_url }}page={{ page_obj.next_page_number }}"><i class="fas fa-greater-than"></i></a>
            <a class="btn btn-outline-info mb-4" href="{{ parametres_url }}page={{ page_obj.paginator.num_pages }}">Page {{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    {% if projets.count > 0 %}
        <small class="float-right mt-2">
            <a href="{% url 'rss-projets-news' %}">
                Flux RSS<i class="fa fa-rss-square ml-1" aria-hidden="true"></i>
            </a>
        </small>
    {% endif %}

{% endblock content %}