<div id="carouselPresentationProjet" class="col-12 carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h3 class="text-center">Le dernier projet financé</h3>
            <div class="row justify-content-center">
                <div class="col-9">
                    {% comment  %}{% include 'plateforme/card/card_projet.html' with projet=dernier_projet_finance page="home" %}
                    {% endcomment %}
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <h3 class="text-center">Le dernier projet mis en ligne</h3>
            <div class="row justify-content-center">
                <div class="col-9">
                    {% include 'plateforme/card/card_projet.html' with projet=dernier_projet_cree page="home" %}
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <h3 class="text-center">Utilisateur avec le plus de réputation</h3>
            <div class="row justify-content-center">
                <div class="card px-0 col-9">
                    <div class="card-body" style="background-color: #CCD2BF;">
                        <div class="row">
                            <div class="col-2" >
                                <a href="{% url 'plateforme-view-projet-user' profil_best_reputation.user.username %}">
                                    <img class="rounded-circle" src="{{ profil_best_reputation.avatar.url }}" width="100">
                                </a>
                            </div>
                            <div class="col-10">
                                <div class="row text-left">
                                    <a class="text-dark" href="{% url 'plateforme-view-projet-user' profil_best_reputation.user.username %}">
                                        <h5>{{ profil_best_reputation.user.username }}</h5>
                                    </a>
                                </div>
                                <div class="row mt-3">
                                    <h4>
                                        Point de réputation : 
                                        {% if profil_best_reputation.reputation <= 0 %}
                                            <span class="badge badge-danger ml-2">{{ profil_best_reputation.reputation }}</span>
                                        {% else %}
                                            <span class="badge badge-success ml-2">{{ profil_best_reputation.reputation }}</span>
                                        {% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-dark" href="#carouselPresentationProjet" role="button" data-slide="prev">
        <i class="fas fa-angle-left fa-3x"></i>
    </a>
    <a class="carousel-control-next text-dark" href="#carouselPresentationProjet" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-3x"></i>
    </a>
</div>