{% extends 'plateforme/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card mb-3" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ user.profile.avatar.url }}" alt="Admin" class="rounded-circle" width="165">
                        <div class="mt-4">
                            <h4>{{ user.username }}</h4>
                            <p class="text-secondary mb-1">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <h6 class="mb-0 mt-2">Point(s) de réputation</h6>
                        </div>
                        <div class="col-sm-4">
                            <h3>
                                {% if user.profile.reputation <= 0 %}
                                    <span class="badge badge-danger">{{ user.profile.reputation }}</span>
                                {% else %}
                                    <span class="badge badge-success">{{ user.profile.reputation }}</span>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="col-sm-8">
                            <hr>
                        </div>
                        <div class="col-sm-8">
                            <h6 class="mb-0 mt-2">Porte monnaie</h6>
                        </div>
                        <div class="col-sm-4">
                            <h3>
                                <span class="badge badge-success">{{ user.profile.porteMonnaie }}
                                <img class="mopga-coin" src="/media/mopgaCoin.png" width="25" height="30"/></span>
                            </h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-8">
            <div class="card mb-3" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Nom complet</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <span style="text-transform: uppercase;">{{ user.last_name }}</span>
                            <span style="text-transform: capitalize;">{{ user.first_name }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Rôle(s)</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% for group in user.groups.all %}
                                <span>{{ group }} </span>
                                {% if group != user.groups.all.first %}
                                    <span> - </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mot de passe</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a href="{% url 'password_reset' %}">Modifier le mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mes projets</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a href="{% url 'plateforme-view-projets' %}?auteur={{ user.username }}">Consulter mes projets</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mes évaluations</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a href="{% url 'plateforme-view-evaluation-user' user.username %}">Consulter mes évaluations</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mes contributions</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a href="{% url 'plateforme-view-contribution-user' user.username %}">Consulter mes contributions</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <div class="form-group">
                            <div class="row justify-content-center">
                                <a class="btn btn-info" href="{% url 'porte_monnaie_reload' %}">Recharger mon porte monnaie</a>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row gutters-sm">
        <div class="col-md-12 mb-3">
            <div class="card" style="background-color: #CCD2BF;">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 text-center">Informations</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <div class="row justify-content-center">
                                <button class="btn btn-info" type="submit">Modifier</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}