
body {
    background-color: #F2FCE5;
}

section {
    height: 100%;
    width: 100%;
    position: absolute;
}

footer {
	height: 100%;
    width: 100%;
    position: absolute;
}




.navbar { 
    background-color: #cc0000;
}

.footerbar { 
    background-color: #000000;
}

.navbar .navbar-nav .nav-link { 
    color: #fff; 
}
.navbar .navbar-nav .nav-link:hover { 
    color: #fbc531; 
}
.navbar .navbar-nav .active > .nav-link { 
    color: #fbc531;
}